body {
    font-family:Arial, Helvetica, sans-serif; 
    text-align:center; 
    background-color: #faf8ef;
}


#board {

    width:60vh;
    height:60vh; 
    background-color: #bbada0; 
    border:0.9vh solid #bbada0; 
    border-radius: 0.9vh;
    display:flex; 
    margin: 0 auto; 
    flex-wrap:wrap; 
    position: relative;

}
.tile {
    background-color: #cdc1b5; 
    width: 22.5%;
    height: 22.5%;
    border:0.75vh solid #bbada0;
    font-size:6vh; 
    font-weight:bold; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    position: relative;
}
.animTile {
    background-color: #cdc1b5; 
    width: 22.5%;
    height: 22.5%;
    border:0.75vh solid #bbada0;
    font-size:6vh; 
    font-weight:bold; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    position: absolute;
    z-index: 50;
}
.merge {
    z-index: 100;
}
h1 {
    margin:auto; 
    text-align:center;
}
.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}

#restart {
    width: 100px;
    height: 40px;
display: inline-block;
background-color:blanchedalmond;
border-color: #bbada0;
font: 100;
font-family: 'Courier New', Courier, monospace;
position:relative;
bottom: 10px;
}

/* #score {

} */
